.login_container{

    width: 30%;
    height: 90%;
    border: 2px solid black;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.btn_container{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    gap: 6rem;
}

.input_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input_box{
    width: auto;
    height: 2rem;
    margin-left: 10px;
    font-size: 1rem;
}

.btn_login{
    width: 100px;
    height: 3rem;
}

